# [Python Reference Link](http://www.data8.org/sp20/python-reference.html)
*Run the cell below so that we can set our modules up*

In [ ]:
import numpy as np
from datascience import *

# These lines set up graphing capabilities.
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore', FutureWarning)

from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

# Importing our data

In [ ]:
math211_survey = Table.read_table('Sp24_Math_211_Survey_cleaned.csv')
travel_distances = Table.read_table('Travel_Destination_Distances.csv')

# The method/function: `tbl.group`

In [ ]:
math211_survey.show(15)

We see that our names show up under the **Surveyor** column, multiple times. To help us understand who retrieved the most responses from our campus community, we want to generate a unique list of our names. We can achieve this using the `group` method:

<img src="table_group.png" alt="drawing" width="1200"/>

*From the [Python reference](http://www.data8.org/sp20/python-reference.html) page

### Practice Question: 

Earlier this semester, we developed some [hypothesis questions about our survey responses against a value](https://smccd.instructure.com/courses/55188/assignments/1513664). Let's investigate this question using the `.group` method:

# The method/function: `tbl.join` 

In [last week's demo notebook](https://skyline.cloudbank.2i2c.cloud/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2Fb00chan%2Fmath211_sp24_skyline&urlpath=tree%2Fmath211_sp24_skyline%2FLab+Demos%2F02_26%2FLecture+%282_26%29+Demo+Hub.ipynb&branch=main), we took a look at defining a function to retrieve distances to our favorite travel destinations and applying it to our survey table. Since our travel distances were stored in a table, we can alternatively achieve the same results using the `join` method:

<img src="table_join.png" alt="drawing" width="1200"/>

*From the [Python reference](http://www.data8.org/sp20/python-reference.html) page

In [ ]:
math211_survey.show(5)
travel_distances.show(5)

# The method/function: `tbl.pivot` 

Earlier this semester, we developed some [hypothesis questions comparing two variables against each other](https://smccd.instructure.com/courses/55188/assignments/1513665). Let's use that question to motivate our `pivot` method:

<img src="table_pivot.png" alt="drawing" width="1200"/>

*From the [Python reference](http://www.data8.org/sp20/python-reference.html) page