# [Python Reference Link](http://www.data8.org/sp20/python-reference.html)
*Run the cell below so that we can set our modules up*

In [ ]:
import numpy as np
from datascience import *

# `np.arange` from the [NumPy](https://numpy.org/doc/stable/reference/generated/numpy.arange.html) module

In [ ]:
#np.arange(stop)
np.arange(6)

In [ ]:
#np.arange(start,stop)
np.arange(6,10)

In [ ]:
#np.arange(start,stop,step)
np.arange(2,8,3)

# Building Tables

In [ ]:
math211_survey = Table.read_table('Math211_Class_Survey_OG.csv')
math211_survey.show(4)

In [ ]:
survey = Table.read_table('Math211_Class_Survey_cleaned_labels.csv')
survey.show(5)

In [ ]:
subscription = make_array('Netflix','HBO Max','Hulu','Crunchyroll','Spotify','DoorDash','AmazonPrime','Discord Nitro')
subscription

In [ ]:
#Amazon and Discord are annual fees
month_fee_cost = make_array(19.99,14.99,9.99,9.99,9.99,9.99,(130/12),(169.97/12))
month_fee_cost

In [ ]:
bryans_monthly_subscriptions = Table().with_columns('Subscription',subscription,'$$ per month',month_fee_cost)
bryans_monthly_subscriptions

In [ ]:
#annual_cost = bryans_monthly_subscriptions.column('$$ per month') * 12
#OR, below
annual_cost = month_fee_cost *12 
annual_cost

In [ ]:
new_table = bryans_monthly_subscriptions.with_column('$$ each year',annual_cost)#.drop('$$ per month')
new_table

In [ ]:
sum(annual_cost)

In [ ]:
new_new = new_table.take(np.arange(4))

In [ ]:
#since new_table.take() was not assigned to a variable (old or new) the result of the .take() method was not saved
new_table

In [ ]:
new_new

# Order of Operations with tables

Let's run the cell below and take a look at the following movie dataset:

In [ ]:
movies = Table.read_table('Movies - Cleaned.csv')
movies.show(5)

## Question: How many movies in this data set were sequels?

In [ ]:
...

## How many movies had sequels that were rated higher than the original? On average, do they perform better, or worse?

In [ ]:
...

## Challenge!

Let's suppose that you had the movies data stored in a USB Drive. You know how computers almost always scream at you for yanking out the USB Drive before you 'eject' it? Usually, nothing happens...

But in this situation, let's say it does and you get the following table below:

In [ ]:
challenge_movies = movies.drop('Order','index','Description','URL','Num Votes','Directors','Release Date').sample(movies.num_rows)
challenge_movies

### Question: How can we use our methods to re-order our rows back to their original state? We unfortunately lost the columns for good... :(

In [ ]:
...

#