# [Python Reference Link](http://www.data8.org/sp20/python-reference.html)
*Run the cell below so that we can set our modules up*

In [ ]:
import numpy as np
from datascience import *
import math

# Numbers

In [ ]:
10/3

In [ ]:
3

In [ ]:
3.0

In [ ]:
1.329487569238476592348765293456293478650234875029438

In [ ]:
123.5**123

# Strings

In [ ]:
'Here is a string'

In [ ]:
"Here is a string as well"

In [ ]:
greeting = 'hi, wassup'

In [ ]:
greeting

In [ ]:
greeting +' class'

In [ ]:
x = 'ha'
'mua'+x*10

### Challenge! 

In the code cell below, try to create a print line that says (verbatim): <br> 

"I don't like sand." - Anakin Skywalker

# Types

In [ ]:
float(str(5678))

In [ ]:
type(greeting)

In [ ]:
abs?

# Looking at the difference between the Strings, Ints, and Floats

In [ ]:
print('4'+'4')
print(4+4)

# Arrays and the [NumPy Module](https://numpy.org/doc/stable/reference/index.html)

In [ ]:
first_four = make_array(1,2,3,4)

In [ ]:
first_four

In [ ]:
random = make_array(1,4,"this string")

In [ ]:
random*4

# Table Operations 

I strongly recommend adding the [Python Reference Page](https://www.data8.org/sp20/python-reference.html) to your bookmarks for reference! It is a sort of cheat sheet for the course! 

### Importing a Table
First, we will start with looking at how to import our data into the notebook:
<img src="Creating_Table.png" alt="drawing" width="1200"/>
*From the Python reference page

In [ ]:
Table().read_table('Math211_Class_Survey_OG.csv')

### Taking a look at the Table

Whenever we want to take a look at the table itself. 
<img src="Table_show.png" alt="drawing" width="1200"/>

In [ ]:
tbl.show()

### Identifying the Dimensions of a Table

In other words, the number of rows and columns in a given table.
<img src="Table_dimensions.png" alt="drawing" width="1200"/>

In [ ]:
# It is important to note that each row typically depicts the individuals we are interested in studying
tbl.num_rows

In [ ]:
# It is important to note that each column typically depicts the characteristics/variables of all individuals
# we are interested in studying. 
tbl.num_columns

### Narrowing down the number of columns from the original table 

This can be done by choosing which columns to **only include (i.e. 'select')** or which columns to **exclude (i.e. 'drop')** from the original table. 

<img src="Table_select_drop.png" alt="drawing" width="1200"/>

In [ ]:
tbl.select()

In [ ]:
tbl.drop()

### Sorting columns of a table

This is our first method (i.e. 'action') that contains an optional argument:
<img src="Table_sort.png" alt="drawing" width="1200"/>

If you want to sort from small -> large, or A - Z, then we will sort in **ascending** order. <br>
If you want to sort from large -> small, or Z - A, then we will sort in **descending** order.

In [ ]:
tbl.sort()

### Filtering our table based upon a condition

Sometimes we want to narrow down our list of individuals based upon a status or condition and look at them in their own table. We can do so using the following method: 
<img src="Table_where.png" alt="drawing" width="1200"/>

Note that our condition is defined as a predicate. The table of predicates below: 
<img src="Table_where_predicates.png" alt="drawing" width="1200"/>

In [ ]:
tbl.where(,)